.ConteneurInfo {
  text-align: center;
}

#bouton {
  font-size: medium;
  font-weight: bold;
  font-family: "Minecraft";
  margin-left: 40%;
}

.BoutonLobby {
  text-decoration: none;
  color: black;
}

label {
  display: block;
  width: 40%;
  float: left;
}

textarea {
  width: 30%;
  height: 100px;
}

.Conteneur {
  background-color: #e5e2e2;
  width: 45%;
  margin: 1%;

  padding: 1px;
  text-align: center;
}
